@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=IBM+Plex+Mono:wght@100&family=Tilt+Prism&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;



}


body {
    font-family: 'Abril Fatface', cursive;
    text-align: center;

}

.intro-image { 
    background-attachment: fixed;
    background-image: url('image1.jpg');
    background-size: cover;
    background-position: bottom;
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    }

.intro-image__link a {
    background-color: #45556273;
    border: 2px solid #455562;
    color: #837779;
    display: inline-block;
    font-size: 3rem;
    padding: 2rem;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 1s ease-in-out;


}

.intro-image__link a:hover {
    transform: scale(1.2);

}

.intro-text {
    background-color: #455562;
    color: #837779;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 250px;
    padding: 0 10 rem;

}

.intro-text__textbox h3 {
    font-size: 2rem;
    text-transform: uppercase;
    margin-bottom: 1rem;
    
}

.quality-image {
    background-attachment: fixed;
    background-image: url('image3.jpg');
    background-size: cover;
    background-position: bottom;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.quality-image__link a{

    background-color: #4555625e;
    border: 2px solid #455562;
    color: #837779;
    display: inline-block;
    font-size: 3rem;
    padding: 2rem;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 1s ease-in-out;
}

.quality-image__link a:hover {
transform: scale(1.2);

}

.quality-text {
    background-color: #66525273;
    border: 2px solid #dac9ca;
    color: #837779;
    display: inline-block;
    font-size: 3rem;
    padding: 2rem;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 1s ease-in-out;

}

.quality-text__textbox h3 {
    font-size: 2rem;
    text-transform: uppercase;
    margin-bottom: 1rem;

}




.origin-image {
    background-attachment: fixed;
    background-image: url('image2.jpg');
    background-size: cover;
    background-position: bottom;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.origin-image__link a{

    background-color: #4555625e;
    border: 2px solid #455562;
    color: #837779;
    display: inline-block;
    font-size: 3rem;
    padding: 2rem;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 1s ease-in-out;
}

.origin-image__link a:hover {
transform: scale(1.2);

}

.origin-text {
    background-color: #66525273;
    border: 2px solid #dac9ca;
    color: #837779;
    display: inline-block;
    font-size: 3rem;
    padding: 2rem;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 1s ease-in-out;

}

.origin-text__textbox h3 {
    font-size: 2rem;
    text-transform: uppercase;
    margin-bottom: 1rem;

}








.footer {       
    background-color: #66525273;
    color: #dac9ca;
    height: 150px;
    font-size: 1.25rem;
    padding-top: 1.5rem;

}

.footer ul li {
    display: inline-block;
    margin: 0.5rem;


}

.footer ul li a{
    color: #dac9ca;
    text-decoration: none;


}

.footer ul li a:hover {
    color: #f3eced;
    display: inline-block;
    transform: scale(1.2);


}
